* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.register-box {
    background-color:green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    border-radius: 2rem;
    width: 30%;
    height: 50%;
}

form {
    display:flex;
    flex-direction: column;

}
