body {
    background-color: #F0F8F0;
}

p {
    font-family: 'Rubik';
}

.login-box,
.register-box {
    transition: opacity 1s ease, transform 1s ease;
    background-color: white;
    width: 20%;
    border: seagreen solid 1px;
    border-radius: 0.5rem;
}

.login-box,
.register-box {
  animation: fadeSlideIn 1s ease forwards;
  opacity: 0;
  transform: translateY(10%);
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 80%;
}

.input-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.input-group label{
    margin-right: 1rem;
    width: 20%;
    font-family: 'Rubik';
}

input {
    width: 80%;
    height: 100%;
    padding-left: 1rem;
    border: lightgrey solid 1px;
    font-family: 'Rubik';
    font-size: 1.3rem;
}

button {
    width: 80%;
    font-family: 'Rubik';
    background-color: seagreen;
    border: none;
    color: white;
    font-weight: 500;
    transition: background-color 1s ease, transform 1s ease;
    height: 20%;
}
.input-side {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

p {
    width: 80%;
    font-size:1rem;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(27, 94, 56);
    transition: color 1s ease;
}

a:hover {
    color:black;
    transition: color 1s ease;
}

button:hover {
    cursor: pointer;
    transition: background-color 1s ease, transform 1s ease;
    transform: translateY(-10%);
    background-color: rgb(21, 87, 49);
}